Package: com.darkshuper.addtestitemmod
Name: AddTestItemMod
Depends: mobilesubstrate
Version: 0.16.2-0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: DarkShuper
Author: DarkShuper
Section: Tweaks
